{
  "id": "example",
  "realm": "example",
  "accessTokenLifespan": 300,
  "enabled": true,
  "loginWithEmailAllowed": true,
  "roles": {
    "client": {
      "kibana": [
        {
          "name": "discover",
          "composite": false,
          "clientRole": true
        },
        {
          "name": "view-dashboards",
          "composite": false,
          "clientRole": true
        },
        {
          "name": "manage-dashboards",
          "composite": false,
          "clientRole": true
        },
        {
          "name": "view-visualizations",
          "composite": false,
          "clientRole": true
        },
        {
          "name": "manage-visualizations",
          "composite": false,
          "clientRole": true
        },
        {
          "name": "use-timelion",
          "composite": false,
          "clientRole": true
        },
        {
          "name": "use-dev-tools",
          "composite": false,
          "clientRole": true
        },
        {
          "name": "manage-kibana",
          "composite": false,
          "clientRole": true
        }
      ]
    }
  },
  "requiredCredentials": [
    "password"
  ],
  "users": [
    {
      "username": "jdoe",
      "enabled": true,
      "firstName": "John",
      "lastName": "Doe",
      "credentials": [{ "type": "password", "value": "jdoe" }],
      "clientRoles": {
        "kibana": ["view-dashboards"],
		"account": ["view-profile", "manage-account"]
      }
    },
	{
      "username": "adminops",
      "enabled": true,
      "firstName": "Admin",
      "lastName": "Ops",
      "credentials": [{ "type": "password", "value": "adminops" }],
      "clientRoles": {
        "kibana": ["view-dashboards", "manage-visualizations", "manage-dashboards", "manage-kibana"],
		"account": ["view-profile", "manage-account"]
      }
    }
	
  ],
  "clients": [
    {
      "clientId": "kibana",
      "name": "Kibana",
      "rootUrl": "http://{{server_ip}}:5601/",
      "adminUrl": "http://{{server_ip}}:5601/",
      "baseUrl": "http://{{server_ip}}:5601/",
      "surrogateAuthRequired": false,
      "enabled": true,
      "redirectUris": [
        "http://{{server_ip}}:5601/*"
      ],
      "webOrigins": [
        "http://{{server_ip}}:5601/"
      ],
      "clientAuthenticatorType": "client-secret",
      "secret": "y8gSCns8hPTkQr6Zqwu2hPw6ScQDZNZz",
      "notBefore": 0,
      "bearerOnly": false,
      "consentRequired": false,
      "standardFlowEnabled": true,
      "implicitFlowEnabled": false,
      "directAccessGrantsEnabled": true,
      "serviceAccountsEnabled": true,
      "publicClient": false,
      "frontchannelLogout": false,
      "protocol": "openid-connect",
      "attributes": {
        "saml.assertion.signature": "false",
        "saml.force.post.binding": "false",
        "saml.multivalued.roles": "false",
        "saml.encrypt": "false",
        "saml.server.signature": "false",
        "saml.server.signature.keyinfo.ext": "false",
        "exclude.session.state.from.auth.response": "false",
        "saml_force_name_id_format": "false",
        "saml.client.signature": "false",
        "tls.client.certificate.bound.access.tokens": "false",
        "saml.authnstatement": "false",
        "display.on.consent.screen": "false",
        "saml.onetimeuse.condition": "false"
      },
      "authenticationFlowBindingOverrides": {},
      "fullScopeAllowed": true,
      "nodeReRegistrationTimeout": -1,
      "defaultClientScopes": [
        "role_list",
        "profile",
        "email",
        "roles"
      ],
      "optionalClientScopes": [
        "address",
        "phone",
        "offline_access"
      ]
    }
  ],
  "defaultDefaultClientScopes": [
    "role_list",
    "profile",
    "email",
    "roles"
  ],
  "defaultOptionalClientScopes": [
    "offline_access",
    "address",
    "phone"
  ],
  "eventsEnabled": true,
  "eventsListeners": [
    "jboss-logging"
  ],
  "enabledEventTypes": [
    "UPDATE_CONSENT_ERROR",
    "SEND_RESET_PASSWORD",
    "GRANT_CONSENT",
    "UPDATE_TOTP",
    "REMOVE_TOTP",
    "REVOKE_GRANT",
    "LOGIN_ERROR",
    "CLIENT_LOGIN",
    "RESET_PASSWORD_ERROR",
    "IMPERSONATE_ERROR",
    "CODE_TO_TOKEN_ERROR",
    "CUSTOM_REQUIRED_ACTION",
    "RESTART_AUTHENTICATION",
    "UPDATE_PROFILE_ERROR",
    "IMPERSONATE",
    "LOGIN",
    "UPDATE_PASSWORD_ERROR",
    "CLIENT_INITIATED_ACCOUNT_LINKING",
    "TOKEN_EXCHANGE",
    "REGISTER",
    "LOGOUT",
    "CLIENT_REGISTER",
    "IDENTITY_PROVIDER_LINK_ACCOUNT",
    "UPDATE_PASSWORD",
    "FEDERATED_IDENTITY_LINK_ERROR",
    "CLIENT_DELETE",
    "IDENTITY_PROVIDER_FIRST_LOGIN",
    "VERIFY_EMAIL",
    "CLIENT_DELETE_ERROR",
    "CLIENT_LOGIN_ERROR",
    "RESTART_AUTHENTICATION_ERROR",
    "REMOVE_FEDERATED_IDENTITY_ERROR",
    "EXECUTE_ACTIONS",
    "TOKEN_EXCHANGE_ERROR",
    "PERMISSION_TOKEN",
    "SEND_IDENTITY_PROVIDER_LINK_ERROR",
    "EXECUTE_ACTION_TOKEN_ERROR",
    "SEND_VERIFY_EMAIL",
    "EXECUTE_ACTIONS_ERROR",
    "REMOVE_FEDERATED_IDENTITY",
    "IDENTITY_PROVIDER_POST_LOGIN",
    "IDENTITY_PROVIDER_LINK_ACCOUNT_ERROR",
    "UPDATE_EMAIL",
    "REGISTER_ERROR",
    "REVOKE_GRANT_ERROR",
    "LOGOUT_ERROR",
    "UPDATE_EMAIL_ERROR",
    "EXECUTE_ACTION_TOKEN",
    "CLIENT_UPDATE_ERROR",
    "UPDATE_PROFILE",
    "FEDERATED_IDENTITY_LINK",
    "CLIENT_REGISTER_ERROR",
    "SEND_VERIFY_EMAIL_ERROR",
    "SEND_IDENTITY_PROVIDER_LINK",
    "RESET_PASSWORD",
    "CLIENT_INITIATED_ACCOUNT_LINKING_ERROR",
    "UPDATE_CONSENT",
    "REMOVE_TOTP_ERROR",
    "VERIFY_EMAIL_ERROR",
    "SEND_RESET_PASSWORD_ERROR",
    "CLIENT_UPDATE",
    "IDENTITY_PROVIDER_POST_LOGIN_ERROR",
    "CUSTOM_REQUIRED_ACTION_ERROR",
    "UPDATE_TOTP_ERROR",
    "CODE_TO_TOKEN",
    "GRANT_CONSENT_ERROR",
    "IDENTITY_PROVIDER_FIRST_LOGIN_ERROR"
  ]
}